name: Pull and docker-compose up

on:
  push:
    branches:
      - master

jobs:
  github-pages:
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
      - name: Restart docker-compose
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSHKEY }}
          script: |
            cd /home/colospeed/colospeed/colo-speed-jekyll
            git checkout master
            git pull
            cd /home/colospeed/colospeed
            docker-compose up -d jekyll
